<ion-view view-title="Dashboard">
    <ion-content class="padding">
        <div>
            <style scoped>
                .bad{color:red;}
                .good{color:green;}

                .items {
                    opacity: 1;
                }
                .items.ng-enter {
                    -webkit-transition: 1s;
                    transition: 1s;
                    opacity: 0;
                }
                .items.ng-enter-active {
                    opacity: 1;
                }


            </style>


            <div style="font-family: monospace, serif; display:inline-block; width:50%; ">
                <div class="items" ng-repeat="ask in bookView.asks  track by (ask.price+ask.size)">
                    {{ask.price}} {{ask.size}} ${{ask.total}}
                </div>
                <span ng-class="{'bad':trade.bad, 'good':!trade.bad}">Latest: {{latest.price}} {{latest.size}} ${{latest.total}}</span>

                <div class="items" ng-repeat="bid in bookView.bids  track by (bid.price+bid.size)">
                    {{bid.price}} {{bid.size}} ${{bid.total}}
                </div>
            </div>


            <div style="font-family: monospace, serif; display:inline-block;width:49%; vertical-align:top;">
                <div ng-repeat="trade in trades" ng-class="{'bad':trade.bad, 'good':!trade.bad}">
                    {{trade.price}} {{trade.size}} ${{trade.total}}
                </div>
            </div>
        </div>
        <!-- <div ng-repeat="(key, value)  in book.asks | groupBy:'price' | limitTo:20">
          {{key}} - {{sum(value)}}
        </div>
        latest trade: {{latest.price}}
        <div ng-repeat="(key, value)  in book.bids | groupBy:'price' | limitTo:20">
          {{key}} - {{sum(value)}}
        </div> -->


    </ion-content>
</ion-view>
